.video-filter {
  margin-top: 30px;
  margin-bottom: 30px;
  input,
  select {
    width: 350px;
  }
  button {
    margin-left: 20px;
  }

  // Mobile Layout

  @media (max-width: 720px + 40px) {
    input,
    select {
      width: 230px;
    }
  }
}
